<meta http-equiv="Refresh" content="1.5; url=https://attendance.act-neec.org/Link.php?process=out&UserId=<%= @linkUserId %>">
<%= audio_tag"/audio/out.mp3", autoplay: true, controls: false %>
<body onload="document.getElementById('form-control').focus(); LoadProc();" style="background-color:#2d2d2d;">
	<div class="date">
	<%= @date %>
	</div>
	<div class="time">
		お疲れサマンサタバサ
	</div>
	<div class="cate">
		Process：
	</div>
	<div class="cate-text-O-S">
		活動終了
	</div>
	
</body>
