// Place all the styles related to the acount controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.icon_image {
    width: 200px;
    height: 200px;
    //サイズ指定
    border-radius: 100px;
    //画像を丸くする
    object-fit: cover;
    //タテヨコ比を変えないままトリミング
}
.Dashboard-DoubleGroup{
	margin: auto;
	margin-top: 10px;
	height: auto;
	margin-bottom: 10px;
	border-radius: 5px;
	display: flex;
	align-items: flex-start;
}
.Dashboard-DoubleGroup .Dashboard-DoubleGroupFrame{
    width: 50%;
    height: auto;
    margin: auto;
    margin-top :0;
    &.slim { 	
      width: 45%;
    }
}
.Dashboard-DoubleGroup .Dashboard-DoubleGroupContent{
  width: 95%;
  margin: auto;
	height: auto;
	background-color: #FFFFFF;
	border: solid 1px #A2A2A2;
	display: block;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
    margin-bottom: 20px;
}
.Dashboard-DoubleGroup .Dashboard-DoubleGroupFrame .Dashboard-DoubleGroupContent .Profile-Pic{
  margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
  width: 50%;
	height: auto;
	display: block;
	box-sizing: border-box;
  border-radius: 5px;
  background-color: #FFFFFF;
	border: solid 1px #A2A2A2;
}
.Dashboard-DoubleGroup .Dashboard-DoubleGroupFrame .Dashboard-DoubleGroupContent .Profile-Pic-Area .Profile-Pic img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.Column-Title{
	margin-left: 5%;
	width: auto;
	height: auto;
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #5B5B5B;
}
.Column-Text{
	margin-left: 6%;
	width: auto;
	height: auto;
	display: block;
	font-size: 14px;
}
.Action-bt-Area{
    border: solid #A2A2A2;
    height: 20px;
    color: #5B5B5B;
    background-color: #FFF;
    width: 90%;
    height: 3em;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    margin: auto;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .2);
    margin-bottom: 17px;
    font-weight: bold;
}
.Action-bt-Area a{
    padding-top: 10px;
    color: #5B5B5B;
    text-decoration: none;
    font-size: large;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
}
.Action-bt-Area:hover {
    color: #5B5B5B;
    background-color: #A2A2A2;
    text-decoration: none;
    transition: 0.2s;
}
.Action-bt-Area-r{
    border: solid #ff655d;
    height: 20px;
    color: #f73328;
    background-color: #FFF;
    width: 90%;
    height: 3em;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    margin: auto;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .2);
    margin-bottom: 17px;
    font-weight: bold;
}
.Action-bt-Area-r a{
    padding-top: 10px;
    color: #f73328;
    text-decoration: none;
    font-size: large;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
}
.Action-bt-Area-r:hover {
    color: #f73328;
    background-color: #ff655d;
    text-decoration: none;
    transition: 0.2s;
}
.Column-Line{
		width: 90%;
		border-bottom: dotted 1px #A2A2A2;
		margin-top: 0.25em;
		margin-left: 5%;
		margin-bottom: 1em;
}
.Dashboard-Title{
	margin-left: 5%;
	margin-top: 1em;
	margin-bottom: 1em;
	width: auto;
	height: auto;
	display: block;
	font-size: 1em;
	font-weight: bold;
	color: #5B5B5B;
}
.Dashboard-MoreArea{
	width: 93%;
	height: auto;
	margin: auto;
	background-color: #FFFFFF;
	border: solid 1px #A2A2A2;
	display: block;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  margin-bottom: 1em;
}
.Dashboard-More-Title{
	margin-left: 5%;
	margin-top: 1em;
	margin-bottom: 1em;
	width: auto;
	height: auto;
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	color: #5B5B5B;
}
.Dashboard-MoreSubTitle{
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-bottom: 1em;
	width: auto;
	height: auto;
	display: block;
	font-size: 18px;
	font-weight: bold;
	color: #282828;
	background-color: #f5f6fa;
  &.Frame-dashed{
    margin-bottom: -1em;
    background-color: #fff;
    border:dashed 3px #282828;
    border-radius: 5px;
  }
  &.Frame-solid{
    margin-bottom: -1em;
    background-color: #fff;
    border:solid 3px #282828;
    border-radius: 5px;
  }
}
.Content-Title{
	text-align: center;
	color: #FFF;
  font-weight: bold;
  font-size: 2vw;
	background-color: #FF574D;
}
.Content-Text{
	text-align: center;
	color: #FF574D;
  font-weight: bold;
  font-size: 2vw;
}
 // 画面が小さい時
 @media screen and (max-width: 500px) {
    .Content-Title{
      font-size: 4vw;
    }
    .Content-Text{
      font-size: 4vw;
    }
    .Dashboard-DoubleGroup{
        display: inline;
    }
    .Dashboard-DoubleGroup .Dashboard-DoubleGroupFrame{
        width: 100%;
        &.slim { 	
          width: 100%;
        }
    }
    .Dashboard-DoubleGroup .Dashboard-DoubleGroupFrame .Dashboard-DoubleGroupContent .Profile-Pic{
        width: 90%;
      }
      .Dashboard-MoreSubTitle{
        &.Frame-solid{
          margin-top: 1em;
          margin-bottom: -1em;
          background-color: #fff;
          border:solid 3px #282828;
          border-radius: 5px;
        }
      }
}